#character {
    position: fixed;
    bottom: -40%;
    right: -15%;
    z-index: -10;
    font-size: 690px;
    color: rgba(0, 0, 0, 0.2);
    animation-name: character-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes character-rotate{
    0% {
        transform: rotate3D(3,2,2,0deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate3D(3,2,2,90deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate3D(3,2,2,180deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate3D(3,2,2,270deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate3D(3,2,2,360deg);
        animation-timing-function: linear;
    }
}